<!DOCTYPE html>
<html>
<head>
  <title>Netflix</title>
</head>
<body>
<header>
  <nav>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Movies</a></li>
      <li><a href="#">TV Shows</a></li>
      <li><a href="#">My List</a></li>
    </ul>
  </nav>
  <div class="header-buttons">
    <button class="signin-btn">Sign In</button>
    <button class="signup-btn">Sign Up</button>
  </div>
</header>
<main>
  <router-outlet #outlet="outlet"></router-outlet>
  <div *ngIf="outlet.isActivated === false">
    <div style="margin: 30px 0;text-align:center;">
      PLEASE LOAD HOME PAGE :((((
    </div>
  </div>
</main>
<footer>
  <ul>
    <li><a href="#">FAQ</a></li>
    <li><a href="#">Terms of Use</a></li>
    <li><a href="#">Privacy</a></li>
    <li><a href="#">Contacts</a></li>
  </ul>
</footer>
</body>
</html>
